{# If you have a "Content Type" for footer in Built.io Contentstack then use get() view helper to retrieve footer entry. #} 
{# e.g. set footer = get("footer_content_type_id") #} 
{# And then render footer values using the {{footer.field_name}} #} 

{% set footer = get("footer")%}
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h5>{{footer.footer_section.footer_menu[1].title}}</h5> {{footer.footer_section.footer_menu[1].footer_content}}
                </div>
                <div class="col-sm-6 col-md-4">
                    <h5>{{footer.footer_section.footer_menu[2].title}}</h5> {{footer.footer_section.footer_menu[2].footer_content}}
                </div>
                <div class="col-sm-6 col-md-4">
                    <h5>{{footer.footer_section.footer_menu[0].title}}</h5> {{footer.footer_section.footer_menu[0].footer_content}}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <span>{{footer.copy_rights}}</span>
    </div>
</footer>
